.account {
  &__configuration,
  &__addresses {
    position: relative;
    padding: 10px;

    .title {
      width: max-content;
      background-color: $background-dark-absolute;
      color: $font-light;
      padding: 5px 10px;
      border-radius: 5px;
    }

    .data {
      background-color: $background-grey-dark;
      color: $font-light;
      box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
    }
  }
  &__addresses {
    .title {
      i {
        position: absolute;
        font-size: 22px;
        right: 10px;
        color: $primary;
      }
    }
  }
}
