.basic-layout {
  min-height: 100vh;
  background-image: url("https://gamestore-ecommerce.s3.sa-east-1.amazonaws.com/strapi/background.jpg");
  background-size: cover;
  background-position: center;

  .content {
    color: $font-light;
    background-color: $background-dark;
    opacity: 0.92;
    height: calc(100vh - 130px);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
